<?xml version="1.0" encoding="UTF-8"?>
<beans init-method="init" id-method="contId">

    <Config id="config">
        <value set-as="logMappings">true</value>
        <value set-as="useWidgetId">true</value>
    </Config>

  <!-- +===================================================+ -->
  <!-- | Kontrolery i widoki                               | -->
  <!-- +===================================================+ -->

        <DashedCircleStrategy id="dashedCircle">
                <Circle set-as="circle" parent="@stage" fill="false" strokeColor="#8d8d8dff" strokeDash="5" visible="false" />
        </DashedCircleStrategy>

        <DashedLineStrategy id="dashedLine">
                <Line set-as="line" parent="@stage" strokeColor="#8d8d8dff" strokeDash="5" visible="false" />
        </DashedLineStrategy>

        <Circle scope="prototype" id="circle" parent="@stage" strokeWidth="0" fill="true" fillColor="#0096c6c9" visible="false" />
        <Line scope="prototype" id="arc" parent="@stage" strokeColor="#0096c6c9" visible="false" strokeWidth="1" />

        <CircularNode scope="prototype" id="addNode" parent="@stage" strokeWidth="0" fill="true" fillColor="#0096c6c9" visible="false">
            <Port add-to="ports" angle="2.6415" color="#d1d1d1ff" size="20" />
            <Port add-to="ports" angle="3.6415" color="#d1d1d1ff" size="20" />
            <Port add-to="ports" angle="6.283" color="#8d8d8dff" size="20" />
        </CircularNode>

        <CircularNode scope="prototype" id="copyNode" parent="@stage" strokeWidth="0" fill="true" fillColor="#0096c6c9" visible="false">
            <Port add-to="ports" angle="2.6415" color="#d1d1d1ff" size="50" />
            <Port add-to="ports" angle="3.1415" color="#d1d1d1ff" size="50" />
            <Port add-to="ports" angle="3.6415" color="#d1d1d1ff" size="50" />
            <Port add-to="ports" angle="6.283" color="#8d8d8dff" size="50" />
        </CircularNode>

        <MainController id="mainController" loopDelayMs="5">
                <ToolMap set-as="tools">
                      <Tool set-as="addNode" drawStrategy="@dashedCircle">
                              <ContainerFactoryStrategy set-as="factoryStrategy" beanName="addNode" container="@#container" />
                      </Tool>
                      <Tool set-as="copyNode" drawStrategy="@dashedCircle">
                              <ContainerFactoryStrategy set-as="factoryStrategy" beanName="copyNode" container="@#container" />
                      </Tool>
                      <Tool set-as="arc" drawStrategy="@dashedLine">
                              <ContainerFactoryStrategy set-as="factoryStrategy" beanName="arc" container="@#container" />
                      </Tool>
                      <Tool set-as="circle" drawStrategy="@dashedCircle">
                              <ContainerFactoryStrategy set-as="factoryStrategy" beanName="circle" container="@#container" />
                      </Tool>
                </ToolMap>
        </MainController>

        <Stage id="stage" fillColor="#ecececff"/>
        <MainView id="mainView" file="ui/main.ui" stage="@stage" />
</beans>
