<?xml version="1.0" encoding="UTF-8"?>
<beans init-method="init" id-method="contId">
  <Config id="config">
    <value set-as="logMappings">true</value>
    <value set-as="useWidgetId">true</value>
  </Config>

  <!-- +===================================================+ -->
  <!-- | Controllrers and views                            | -->
  <!-- +===================================================+ -->

  <ShapeDrawStrategy id="dashedCircle">
    <Circle set-as="actor" parent="@stage" fill="false" strokeColor="#8d8d8dff" strokeDash="5" visible="false" reactive="false"/>
  </ShapeDrawStrategy>

  <dashedCircle id="dashedCircleMinSize" minSize="100, 100"/>

  <ShapeDrawStrategy id="dashedRect">
    <Rectangle set-as="actor" parent="@stage" fill="false" strokeColor="#8d8d8dff" strokeDash="5" visible="false" reactive="false"/>
  </ShapeDrawStrategy>

  <!-- std::vector of selected actors -->
  <ClutterActorVector id="selectedActors" />
  <Rectangle id="rectangularSelector" parent="@scale" fill="false" strokeColor="#d1d1d1ff" strokeDash="10" visible="false" selectable="false"/>
  <RectangularSelectorStrategy id="selectionDashedRect" rectangularSelector="@rectangularSelector" selectedActors="@selectedActors" scaleLayer="@scale">
    <Rectangle set-as="actor" parent="@stage" fill="false" strokeColor="#d1d1d1ff" strokeDash="5" visible="false" reactive="false"/>
  </RectangularSelectorStrategy>

  <DashedLineStrategy id="dashedLine">
    <Line set-as="line" parent="@stage" strokeColor="#8d8d8dff" strokeDash="5" visible="false" strokeWidth="3" reactive="false"/>
  </DashedLineStrategy>

  <DashedLineConnectorStrategy id="dashedLineConnector">
    <Line set-as="line" parent="@stage" strokeColor="#8d8d8dff" strokeDash="5" visible="false" strokeWidth="3" reactive="false"/>
  </DashedLineConnectorStrategy>

  <Circle scope="prototype" id="circle" parent="@scale" strokeWidth="0" fill="true" fillColor="#0096c6c9" visible="false"/>
  <Rectangle scope="prototype" id="rect" parent="@scale" strokeWidth="0" fill="true" fillColor="#0096c6c9" visible="false"/>
  <Line scope="prototype" id="line" parent="@scale" strokeColor="#0096c6c9" visible="false" strokeWidth="1"/>

  <CircularNode scope="prototype" id="addNode" parent="@scale" strokeWidth="0" fill="true" fillColor="#0096c6c9" visible="false">
    <InputPort scope="prototype" add-to="ports" angle="2.6415" color="#d1d1d1ff" size="20"/>
    <InputPort scope="prototype" add-to="ports" angle="3.6415" color="#d1d1d1ff" size="20"/>
    <OutputPort scope="prototype" add-to="ports" angle="6.283" color="#8d8d8dff" size="20"/>
    <Add scope="prototype" set-as="node"/>
  </CircularNode>

  <CircularNode scope="prototype" id="copyNode" parent="@scale" strokeWidth="0" fill="true" fillColor="#0096c6c9" visible="false">
    <InputPort scope="prototype" add-to="ports" angle="3.1415" color="#d1d1d1ff" size="20"/>
    <OutputPort scope="prototype" add-to="ports" angle="6.283" color="#8d8d8dff" size="20"/>
    <Copy scope="prototype" set-as="node"/>
  </CircularNode>

  <CircularNode scope="prototype" id="consoleNode" parent="@scale" strokeWidth="0" fill="true" fillColor="#D50074ff" visible="false">
    <InputPort scope="prototype" add-to="ports" angle="3.1415" color="#d1d1d1ff" size="20"/>
    <Console scope="prototype" set-as="node"/>
  </CircularNode>

  <Button scope="prototype" id="buttonNode" parent="@scale" strokeWidth="0" fill="true" fillColor="#D5007488" visible="false">
<!--    <OutputPort scope="prototype" add-to="ports" angle="3.1415" color="#d1d1d1ff" size="20"/>-->
    <Console scope="prototype" set-as="node"/>
  </Button>

  <LineConnector scope="prototype" id="lineConnector" parent="@scale" strokeColor="#d1d1d1ff"
        fontColor="#8d8d8dff" visible="false" strokeWidth="5" text="0" textEditable="true" selectable="false">
    <Arc scope="prototype" set-as="arc"/>
  </LineConnector>

  <Program id="program"/>

  <MainController id="mainController" loopDelayMs="5" program="@program">
    <ToolMap set-as="tools">
      <Tool set-as="select" drawStrategy="@selectionDashedRect" selectorStrategy="@selectionDashedRect"/>
      <Tool set-as="addNode" drawStrategy="@dashedCircleMinSize">
        <NodeContainerFactoryStrategy set-as="factoryStrategy" beanName="addNode" container="@#container" program="@program"/>
      </Tool>
      <Tool set-as="copyNode" drawStrategy="@dashedCircleMinSize">
        <NodeContainerFactoryStrategy set-as="factoryStrategy" beanName="copyNode" container="@#container" program="@program"/>
      </Tool>
      <Tool set-as="consoleNode" drawStrategy="@dashedCircleMinSize">
        <NodeContainerFactoryStrategy set-as="factoryStrategy" beanName="consoleNode" container="@#container" program="@program"/>
      </Tool>
      <Tool set-as="line" drawStrategy="@dashedLine">
        <ContainerFactoryStrategy set-as="factoryStrategy" beanName="line" container="@#container"/>
      </Tool>
      <Tool set-as="circle" drawStrategy="@dashedCircle">
        <ContainerFactoryStrategy set-as="factoryStrategy" beanName="circle" container="@#container"/>
      </Tool>
      <Tool set-as="lineConnector" drawStrategy="@dashedLineConnector">
        <ContainerFactoryStrategy set-as="factoryStrategy" beanName="lineConnector" container="@#container"/>
      </Tool>
      <Tool set-as="rect" drawStrategy="@dashedRect">
        <ContainerFactoryStrategy set-as="factoryStrategy" beanName="rect" container="@#container"/>
      </Tool>
      <Tool set-as="buttonNode" drawStrategy="@dashedRect">
        <NodeContainerFactoryStrategy set-as="factoryStrategy" beanName="buttonNode" container="@#container" program="@program"/>
      </Tool>
    </ToolMap>
    <ref set-as="rectangularSelector" bean="rectangularSelector"/>
    <ref set-as="selectedActors" bean="selectedActors"/>
    <ref set-as="stage" bean="stage"/>
  </MainController>

  <!-- Setting parent to stage would cause cyclic reference. Stage will set parent in C++ -->
  <ScaleLayer id="scale" />
  <Stage id="stage" fillColor="#ecececff" scaleLayer="@scale"/>

  <MainView id="mainView" file="ui/main-palette.ui" stage="@stage" loadWholeFile="true"/>
</beans>
